*.o
.ipynb_checkpoints/
.idea/
.vscode/
engine/lib/
engine/include/
engine/pub/
engine/src/MaBoSS
engine/src/MaBoSS-client
engine/src/MaBoSS-server
__pycache__
*.pyc
*~
# adding after tests and documentation thing to not clutter
*.csv
engine/src/compile_commands.json
# configuration file for the diagrams
.clang-uml
*.output